/* Styling for a banner element */
div#banner:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* Creating a linear gradient background */
    background-image: linear-gradient(to bottom, rgba(0, 0, 85, 0.8) 5%, rgba(0, 0, 85, 0.2) 80%);
}

/* Styling for form input and select elements with a form-control class */
input.form-control,
select.form-control {
    width: 80%; /* Setting width to 80% */
}

/* Styling for a section element */
div.section {
    box-sizing: border-box;
}

/* Styling for a button with the ID 'excel_export' */
button#excel_export {
    margin-top: 10px; /* Adding top margin */
}

/* Styling for a select element with the class 'wide' */
select.wide {
    min-width: 150px; /* Setting minimum width */
}

/* Styling for specific div elements */
div#explore,
div#search {
    margin-top: 20px; /* Adding top margin */
}

/* Styling for inline div elements */
div.inline {
    display: inline-block;
    width: 150px;
    border: 1px solid;
    text-align: center;
    cursor: pointer;
}

/* Styling for specific inline div elements with the class 'choice' */
div.inline.choice {
    color: #307297;
    background-color: #fff;
}

/* Styling for a grid container */
div#GridContainer {
    display: grid;
    grid-template-columns: 400px 100%;
    grid-template-rows: 1fr;
    grid-row-gap: 0;
    grid-column-gap: 0;
}

/* Styling for fieldset elements */
fieldset {
    border-color: #fff;
    border-radius: 4px;
}

/* Styling for table cells with bold text */
td.cell-bold {
    font-weight: 700;
}

/* Styling for table rows with a top border */
tr.border-top {
    border-top: 4px solid;
}

/* Styling for table rows with a bottom border */
tr.border-bottom {
    border-bottom: 4px solid;
}

/* Styling for a specific div element */
div#filterResult {
    max-width: 1000px;
    overflow-x: auto;
}

/* Styling for a div element with the ID 'ingredients' */
div#ingredients {
    width: 400px;
}

/* Styling for a button with the class 'white' */
button.white {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: rgba(11, 60, 86, 1.0);
    padding: 5px;
    cursor: pointer;
}

/* Styling for a specific div element with the class 'filter_result' */
div.filter_result {
    width: 80px;
}

/* Styling for input elements with the class 'small-number' */
input.small-number {
    width: 50px;
    font-size: 12px;
    text-align: center;
}

/* Styling for a link with the class 'removeField' */
a.removeField {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

/* Styling for a ruler line */
.ruler-line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #e3e7ee 0, #fff 100%);
    margin: 10px 0;
}

/* Styling for a specific div element with the class 'search_header' */
div.search_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    margin: 5px 0;
    width: 400px;
}

/* Styling for a next-section div */
div.next-section {
    display: block;
    font-size: 12px;
    font-weight: 700;
    margin: 20px 0;
}

/* Styling for a select element with the class 'cond' */
select.cond {
    margin: 0;
}

/* Styling for a ul element inside a next-section div */
div.next-section ul {
    width: 100%;
    padding: 0;
}

/* Styling for li elements with the class 'ingredient-search' */
li.ingredient-search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Styling for input elements with the class 'ingredient' */
input.ingredient {
    font-family: "DM sans";
    width: 200px;
    font-size: 12px;
}

/* Styling for a table scroll */
.table-scroll {
    height: 400px;
    width: 600px;
    overflow: auto;
    margin-top: 20px;
}

/* Styling for table header cells */
table.dataframe th {
    text-align: left;
}

/* Styling for table cells */
table.dataframe td {
    text-align: center;
}

/* Styling for specific cells with a limited height */
.limited_cell {
    height: 40px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Styling for scrollbars */
.limited_cell::-webkit-scrollbar {
    width: 10px;
}

/* Styling for columns that are selectable */
.selectable_col {
    min-width: 100px;
    font-size: 120%;
    font-weight: bold;
    cursor: pointer;
}

/* Styling for data tables */
table.dataframe {
    font-size: 10px;
    border-color: #fff;
    border-collapse: collapse;
}

/* Styling for table header cells and data cells */
table.dataframe th,
table.dataframe td {
    padding: 5px 5px;
    max-height: 50px;
}

/* Styling for labels */
label {
    font-size: 13px;
    font-family: "DM Sans", "verdana", sans-serif;
    margin: 5px 5px;
    font-weight: bold;
}

/* Styling for file input elements */
input[type="file"] {
    color: #fff;
}

/* Styling for a div with the class 'flex-line' */
div.flex-line {
    display: inline-flex;
    align-items: center;
}

/* Styling for child div elements of a flex-line div */
div.flex-line div {
    margin-left: 20px;
}

/* Additional styling for section elements */
section#mainContainer.Page,
section#mainContainer.Tool,
section#mainContainer.Toolsimple {
    background-color: #fff;
}

/* Media query for smaller screens */
@media (max-width: 1024px) {
    section#mainContainer.Page {
        grid-template-rows: 450px 1fr auto;
    }
}

/* Additional styling for header and footer elements */
header,
footer {
    box-sizing: border-box;
}

/* Styling for unordered lists */
ul {
    list-style: none;
}

/* Styling for links */
a {
    color: #000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

/* Styling for paragraphs */
p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

/* Styling for heading elements */
h1 {
    font-size: 60px;
    font-family: "DM Sans";
    font-weight: 500;
}

/* Additional styling for footer elements */
footer .content a {
    color: #fff;
    text-decoration: none;
}

footer {
    margin-top: 30px;
    background-color: #132866;
    font-size: 14px;
    color: #fff;
    padding-top: 64px;
}

footer>span.version {
    position: absolute;
    bottom: 7px;
    right: 10px;
    z-index: 2;
    font-size: 80%;
}

/* Additional styling for footer content */
.content {
    margin: 0 auto;
    width: 1000px;
}

/* Additional styling for smaller screens */
@media (min-width: 1200px) {
    .content {
        width: calc(1180px + 30px);
    }
}
