.custom-table {
  border-collapse: collapse;
  width: 35%;
}

  /* Define styles for table cells and headers within the custom table */
.custom-table td, .custom-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

  /* Define styles for table headers within the custom table */
.custom-table th {
  background-color: #f2f2f2;
}


.left-section {
  width: 20%; /* Adjust this percentage as needed */
  float: left;
}

.middle-section {
  width: 60%; /* Adjust this percentage as needed */
  float: left;
}

.right-section {
  width: 20%; /* Adjust this percentage as needed */
  float: right;
}

/* Clear floats after the sections */
.clear {
  clear: both;
}