/* //////////////////////////////////// */
/* //////     BASIC STYLES      /////// */
/* //////////////////////////////////// */

ul {
  /* <ul> default */
  list-style: none;
}

a {
  /* Hyperlink default */
    color: #000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

p {
  /* Paragraph default */
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
}

h1 {
  /* <h1> default */
  font-size: 60px;
  font-family: "DM Sans";
  font-weight: 500;
}

div.overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 35px 0px 0px 50px;
  color: #fff;
}

.content {
  display: flex;
  padding-bottom: 0px;
  justify-content: space-between;
  margin: 0 auto;
  width: 1000px;
}

header, footer {
  box-sizing: border-box;
}

  
body { 
  line-height: 20px;
  font-family: "DM Sans","verdana", sans-serif;
  color: #002664;
  margin: 0px;
}

fieldset {
  border-color: #fff;
  border-radius: 4px;
}

/* //////////////////////////////////// */
/* ////////      MAIN TOOL     /////// */
/* //////////////////////////////////// */

#mainTool {
  display: inline-flex; 
  padding: 25px;
  background: white;   /*#1c615a */
  color: #002664;
  justify-content: start;
  grid-area: tx;
}

div.section {
  padding-left: 20px;
  padding-right: 20px;
  /*border-right: 1px solid #fff;*/ 
  width: 100%;
}

.logo {
  max-width: 178px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 17%;
}

div#banner {
  /* banner on top */
  position: relative;
  grid-area: hd;
  /*height: 450px;*/
  background-size: cover;
}

div#banner:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width:  100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 85, 0.8) 5%, rgba(0, 0, 85, 0.2) 80%);
}

section#mainContainer.Toolsimple {
  background-color: #222;
  display: grid;
  grid-template-rows: 275px 1fr auto;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  grid-template-areas:
  "hd"
   "tx"
  "ft";
}

.left-section {
  width: 30%; /* Adjust this percentage as needed */
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.middle-section {
  width: 20%; /* Adjust this percentage as needed */
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.right-section {
  width: 50%; /* Adjust this percentage as needed */
  float: left;
  padding-left: 20px;
  /*padding-right: 20px;*/
}


/* Clear floats after the sections */
.clear {
  clear: both;
}

/* //////////////////////////////////// */
/* ///////        HEADER        /////// */
/* //////////////////////////////////// */

div.overlay.headline {
  /* Title of the web page */
  top:  70px;
}
  
header .container {
  background: transparent;
}


header .container .content {
  display: flex;
  align-items: center;
  min-width: 300px;
  /*height: 50px;*/
  margin: 0 auto;
}

header .overlay:first-child {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

header div.overlay  a {
  /* hyperlinks in the header */
  color: #fff; 
  text-decoration: none;
}

header div.overlay div.content {
  display: flex;
  align-items: center;
  width: calc(1180px + 30px);
}

header div.overlay div.header-right {
  display: flex;
  justify-content: space-between;
}

header div.overlay div.header-right span {
  padding: 0px 20px;
  text-align: center;
  cursor: pointer;
}

header div.overlay:first-child {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  padding: 0px 50px;
}

header div.overlay:first-child div.header-right span {
  border-right: 1px solid;
  min-width: 100px;
}

header div.overlay:first-child div.header-right span:hover {
  /* hovering over first child of header overlay (top menu) */
  text-decoration: underline;
}

header div.overlay:first-child div.header-right span:last-child {
  border-right: 0px;
}

header div.overlay:last-child div.header-right span:hover {
  /* adds hover effect to last child of header overlay */
  border-bottom: 3px solid;
}
  
header div.overlay:first-child div.content {
  justify-content: flex-end;
  height: 36px;
}

header div.overlay:last-child div.header-right div {
  min-width: 100px;
  padding: 20px 0px;
}

header div.overlay:last-child div.header-right span {
  padding: 20px 0px;
}

header div.overlay:last-child div.header-right span a {
  padding: 20px 0px;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}

  
header div.black{
  /* DSMF Logo in header: black not shown by default */
  display: none;
}

header div.white{
  /* DSMF Logo in header: white shown by default */
  display: block;
}

header.show-top-nav div.black {
  /* DSMF Logo in header: black shown in top-nav mode */
  display: block;
}

header.show-top-nav div.white {
  /* DSMF Logo in header: white not shown in top-nav mode */
  display: none;
}

/* HEADER AREA: show top nav */

header.show-top-nav div.overlay {
  color: #000;
  background-color: #fff;
}



header.show-top-nav div.overlay a {
  color: #000; /* Font color */
}

header.show-top-nav div.overlay div.content{
  color: #000;
}


header.show-top-nav div.overlay:first-child {
  background-color: #f6f6f6;
}

/* FOOTER AREA */
footer {
  margin-top: 30px;
  background-color: #012385;
  font-size: 14px;
  color: white;
  padding-top: 64px;
  grid-area: ft;
}

footer .footer-links-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 640px;
}

footer div.footer-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 2px 0 0;
}

footer ul.cmp_group{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0px;
  margin:  0px;
  width: 290px;
}

footer li.cmp  a:hover{
  /* adds underline to links in footer when hovered */
  text-decoration: underline;
}

footer li.cmp {
  flex: 100%;
  padding-bottom: 12px;
  margin: 0;
  padding-right: 20px;
  /*margin-left: 30px;*/
}

footer .content a {
  /* Hyperlinks in footer */
  color: white;
  text-decoration: none;
}


div.descriptor .content {
  /* used at bottom for copyright*/
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #fff;
  padding: 30px 0 48px 0;
}


/* //////////////////////////////////// */
/* //////////       FORMS     ///////// */
/* //////////////////////////////////// */
.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* Adjust as needed */
}

.label-wrapper {
  width: 200px; /* Adjust as needed */
  margin-right: 20px; /* Adjust as needed */
}

.form-control-label {
  font-size: 16px;
}

.form-check-inline{
  font-size: 16px;
  display: inline-block;
}

.form-control.narrow {
  width: calc(100% - 100px); /* Adjust as needed */
  font-family: "DM Sans", "verdana", sans-serif;
  font-size: 16px;
  color: #1a2b68;
  padding: 2px; /* Adjusted padding */
  border-radius: 2px;
  border: 1px solid #e3e7ee;
  box-shadow: inset 0px 1px 2px -1px rgba(0, 38, 100, 0.25);
}

.form-check-input {
  margin-right: 5px; /* Adjust as needed */
}

.btn-primary {
  width: auto; /* Let the button adjust to its content */
  align-self: flex-start; /* Align button to the left */
  /*padding: 2px 2px; */
}


/* //////////////////////////////////// */
/* //////     FLASH MESSAGES     ///// */
/* //////////////////////////////////// */
#flashMessages {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1000; /* Ensure flash messages are on top */
  color: white;
}

.alert-container {
  padding: 10px;
}

.alert {
  margin-bottom: 10px;
}

.light-text .alert {
  color: black; /* Change to your desired light text color */
}



/* //////////////////////////////////// */
/* ///// DECPRECATED BUT USEFUL /////// */
/* //////////////////////////////////// */


.plot-border {
  border: 1px solid #ccc;
  padding: 10px;
}


/* //////////////////////////////////// */
/* ///// DECPRECATED BUT USEFUL /////// */
/* //////////////////////////////////// */


/*


  section#mainContainer.Tool {
    background-color: #222;
    display: grid;
    grid-template-columns: 3% auto 3%;
    grid-template-rows: 275px 50px 1fr auto auto;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    grid-template-areas:
    "hd hd hd"
    "tb tb tb"
     ". tx ."
     "ga ga ga"
    "ft ft ft";
  }
  
  */

  
/* //////////////////////////////////// */
/* ///////       NOT SURE      /////// */
/* //////////////////////////////////// */


  /*
  @media (max-width: 1024px){
      section#mainContainer.Page {
          grid-template-rows: 450px 1fr auto;
      }
  }

  
  @media (min-width: 1200px){
  .content {
      width: calc(1180px + 30px);
      }
  }

  header.down {
      position: fixed;
      width: 100%;

  footer .content .footer-links p {
      margin: 0;
      text-transform: uppercase;
  }

  
  footer > span.version {
      position: absolute;
      bottom: 7px;
      right: 10px;
      z-index: 2;
      font-size: 80%;
  }
  
 

  */