{% extends "base.html" %}

{% block content %}
    <div class="middle-section section">
        
        <h2>Add Portfolio</h2>
    
        <form method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.portfolio.label }}
                {{ form.portfolio }}
            </div>
            <br>
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name }}
            </div>
            <br>
            <div class="form-group">
                {{ form.stock.label }}
                {{ form.stock }}
            </div>
            <br>
            <div class="form-group">
                {{ form.action.label }}
                {{ form.action }}
            </div>
            <br>
            <div class="form-group">
                {{ form.amount.label }}
                {{ form.amount }}
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Add Portfolio</button>
        </form>
    </div>


    <div class="right-section section">
        <p> right</p>
    </div>             
    

{% endblock %}
