<!DOCTYPE html>
<html>
    <!-- this is a base template for other pages to inherit -->
    <head>
        <!-- HTML top title; displays alt title if none supplied -->
        {% if title %}
        <title>{{ title }} - Stock site</title>
        {% else %}
        <title>Stock base</title>
        {% endif %}
    </head>
    <body>
    <div>
        <!-- menu -->
        Stocks 
        <a href="/index">Home</a>  <!-- one way for internal link is just html name-->
        <a href="{{url_for('login')}}">Login</a> <!-- another one is url_for('function_name') which makes use of view function name-->
    </div>
    <!-- block here is the custom content of other pages if base is inherited -->
    <hr>
    <!-- flash message part -->
    {% with messages = get_flashed_messages() %} <!-- get_flashed_messages() is from Flask -->
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <!-- block here is the custom content of other pages if base is inherited -->
    {% block content%}{% endblock %} <!-- the block is called "content" -->
    </body>
</html>