<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="copyright" content="Andre Fischer">
	
	<!-- HTML top title; displays alt title if none supplied -->
	{% if title %}
	<title>{{ title }} -  Stock monitor </title>
	{% else %}
	<title> Stock monitor </title>
	{% endif %}

	<!-- Img includes -->
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='img/stock_icon.png') }}">

	<!-- CSS includes -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/DSMF.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/aspf.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/stocks.css') }}" type="text/css">


	<!-- JavaScript includes -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/aspf.js') }}"></script>

	<!-- Local JavaScript-->
	<script type="text/javascript">
		$(document).ready(function(){
					jQuery.noConflict();

		(function($){

				var b = 0;

				$("header").hover(function(a) {
			        b = $("header").hasClass("show-top-nav") ? !0 : !1;
			        $("header").addClass("show-top-nav");
			    }, function() {
			        b || $("header").removeClass("show-top-nav");
			    });
			})(jQuery);
		});
	</script>

	<script type="text/javascript">
		
		const static = "/static/";

		const font_DMSans = new FontFace("DM Sans","url("+static+"fonts/DMSans-Regular.ttf)",{
			weight: "400",
			style: "normal"
		});

		const font_DMSansM = new FontFace("DM Sans","url("+static+"fonts/DMSans-Medium.ttf)",{
			weight: "500",
			style: "normal"
		});

		const font_DMSansB = new FontFace("DM Sans","url("+static+"fonts/DMSans-Bold.ttf)",{
			weight: "700",
			style: "normal"
		});

		document.fonts.add(font_DMSans);
		document.fonts.add(font_DMSansM);
		document.fonts.add(font_DMSansB);
	</script>
</head>

<body>
	<!-- ///// header and navigation ///// -->
	<section id="mainContainer" class="'Toolsimple">
		<div id="banner"></div>
		<div class="overlay headline">
			<div class="container">
				<div class="content">
					<div class="headline">
							<h1>Test app</h1>
					</div>
				</div>
			</div>
		</div>
		<header>
			<div class="overlay" style="z-index: 100;">
				<div class="content">
					<div class="header-right">
						<!-- ///// Top nagivation bar ///// -->
						<span><a href="{{ url_for('portfolio_manager') }}">Manage Portfolios</a></span>
						<span><a href="{{ url_for('add_portfolio') }}">Add Portfolio</a></span>
						<span><a href="{{ url_for('index') }}">Home</a></span>
					</div>	
				</div>
			</div>
			<div class="overlay">
				<div class="container">
					<div class="content">
						<div class="header-left  logo white">
							<!--<img class="logo" src="{{ url_for('static', filename='img/stock_placeholder_white.svg') }}" alt="stock tools">-->
						</div>
						<div class="header-left logo black">
							<!--<img class="logo" src="{{ url_for('static', filename='img/stock_placeholder_black.svg') }}" alt="stock tools">-->
						</div>
						<div class="header-right">
							<!-- ///// Lower navigation bar ///// -->
							<div>
								<span><a href="{{ url_for('index') }}"> Home </a></span>
							</div>
							<!-- ///// User area /////-->
							{% if current_user.is_anonymous %}
							<div>
								<span><a href="{{ url_for('login') }}">Login</a></span>
							</div>
							{% else %}
							<div>
								<span><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></span>
							</div>
							<div>
								<span><a href="{{ url_for('logout') }}">Logout</a></span>
							</div>
							{% endif %}
							
							<div>
								<span><a href="{{ url_for('index') }}">Admin</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	
		<!-- ///// Popup messages ///// -->
		<div class='pop-up-alert popup'>
			<div class='pop-up-content'>
				<div class='pop-up-header'>ATTENTION !<i class="material-icons close close_popup">X</i></div>
				<div class='pop-up-info-small'>
					<br>
					<span></span>
					<div class='pop-up-buttons'>
						<button class='blue active cancel' style='width: 100px'>OK</button>
					</div>
				</div>
			</div>
		</div>
		<div class='pop-up-dialog popup'>
			<div class='pop-up-content'>
				<div class='pop-up-header'>COMPLETED ?<i class="material-icons close close_popup">X</i></div>
				<div class='pop-up-info-small'>
					<br>
					<span></span>
					<div class='pop-up-buttons'>
						<button class='blue active cancel' style='width: 100px'>YES</button>
						<button class='blue active cancel' style='width: 100px'>NO</button>
					</div>
				</div>
			</div>
		</div>

		<!-- /////////////////////////////
			///// Main tool container ////
			//////////////////////////////-->
		<div id="mainTool">
			
				{% block content %}{% endblock %}
			
		</div>

	</section>

	<!--  /////  Footer  ///// -->
	<footer>
		<div class="content">
			<div class="logo">
				<!--<img class="logo" src="{{ url_for('static', filename='img/stock_placeholder_white.svg') }}" alt="stock tools">-->
			</div>
            <div class="footer-links-wrapper ">
                <div class="footer-links">
                    <div class="footer-navigation">
						<nav class="cmp">
    						<ul class="cmp_group">
								<li class="cmp">		
    								<a href="www.github.com">GitHub</a>
								</li>
							</ul>
						</nav>
 					</div>                    
                </div>
           </div>
        </div>
        <div class="descriptor">
        	<div class="content">
            	<p>©2024 Andre Fischer - All rights reserved</p>
        	</div>
        </div>
	</footer>
</body>

<!--  /////  JS includes  ///// -->
<script type="text/javascript">
	var banner = document.getElementById('banner');
	banner.style.backgroundImage = "url('{{ url_for('static', filename='img/stock_header.png') }}')";
</script>
 <!-- Includes for general JS applications-->
{{ moment.include_moment() }}  <!-- flask-moment include of moment.js -->


</html>