{% extends "base.html" %}
<!-- Start page; inherits from base.html -->
{% block content %}
<!-- Actual content of this page comes here: -->

        <!-- left field-->
        <div class="section">
                <h3> Select portfolio</h3>
                <select id="dropdown">
                        {% for option in options %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                </select>
                <br>

                <h3>Portfolio add</h3>
                <button id="internal-link">Add Portfolio</button>
        </div>
        <!-- middle field-->
        <div class="section">
                <table>
                        <tr>
                                <td>Protfit</td>
                                <td>Date</td>
                        </tr>
                </table>
        </div>                
        <!-- right field -->
        <div class="section">
                <h3>Buy/Sell</h3>
                <button id="internal-link">Buy or sell</button>
        </div>             
        
{% endblock %}

<!--
    {% for post in posts %}
        <table>
                <tr valign="top">
                <td><img src="{{ post.author.avatar(36) }}"></td>
                <td><a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a> says:<br>{{ post.body }}</td>
                </tr>
        </table>
    {% endfor %}

-->


<!--

        {% for post in posts %}
        <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
        {% endfor %}
-->