{% extends "base.html" %}
<!-- Start page; inherits from base.html -->
{% block content %}
<!-- Actual content of this page comes here: -->

        <!-- main field-->
        <div class="middle-section section">
                <h3>Portfolio overview</h3>
                <table class="custom-table">
                        <tr> <td>Protfit</td> <td>127.02 CHF</td></tr>
                        <tr> <td>Stocks</td> <td>some stocks</td></tr>
                        <tr> <td>Creation</td> <td>12.12.2012 13:21</td></tr>
                </table>
        </div>                
        <!-- right field -->
        <div class="right-section section">
                <h3> Select portfolio</h3>

                <h3>Portfolio history</h3>
                <p> History...</p>
        </div>             
        
{% endblock %}

<!--
    {% for post in posts %}
        <table>
                <tr valign="top">
                <td><img src="{{ post.author.avatar(36) }}"></td>
                <td><a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a> says:<br>{{ post.body }}</td>
                </tr>
        </table>
    {% endfor %}

-->


<!--

        {% for post in posts %}
        <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
        {% endfor %}
-->