{% extends "base.html" %}
<!-- Start page; inherits from base.html -->
{% block content %}
<!-- Actual content of this page comes here: -->

        {% if not current_user.is_anonymous %} <!-- propmt only for logged in users -->
        <h3> Hallo, {{ current_user.username}} (eingeloggt)</h3>
        {% endif %}
        <br>


        <h5> Enter Portfolio </h5>
        <br>
        <form action="", method="post"> 
                {{ form.hidden_tag() }}
                <p>
                        {{ form.portfolio.label }} <br>
                        {{ form.portfolio(cols=32,rows=4)}}
                        <span style="color: red;">[{{ error }}]</span>

                </p>
                <p>{{ form.submit() }}</p>
        </form>

        <br>
        <h5> User Portfolios </h5>
        {% for p in portfolios %}
        <tr valign="top">
                <!-- The span tag here does not change the look but allows to give an identifier, e.g. stocklist_1 -->
                <span id=stocklist_{{p.id}}><div><td>{{p.author.username}} watches {{p.stock_list}}</td></div></span>
        </tr>
        {% endfor %}
        {% if prev_url %}
        <a href="{{ prev_url }}">Older portfolios</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">Newer portfolios</a>
        {% endif %}{% endblock %}

<!--
    {% for post in posts %}
        <table>
                <tr valign="top">
                <td><img src="{{ post.author.avatar(36) }}"></td>
                <td><a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a> says:<br>{{ post.body }}</td>
                </tr>
        </table>
    {% endfor %}

-->


<!--

        {% for post in posts %}
        <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
        {% endfor %}
-->