{% extends "base.html" %}

{% block content %}
<div class="left-section">
    <h2>Add Portfolio</h2>
    <form id="portfolio-form" method="POST">
        {{ form.hidden_tag() }}
        <input type="hidden" id="selected-portfolio" name="selected_portfolio_id" value="{{ selected_portfolio_id }}">
        <div class="form-group">
            <div class="label-wrapper">
                {{ form.portfolios.label(class="form-control-label") }}
            </div>
            {{ form.portfolios(class="form-control narrow", id="portfolio-dropdown") }}
        </div>
        <div class="form-group">
            <div class="label-wrapper">
                {{ form.stock.label(class="form-control-label") }}
            </div>
            {{ form.stock(class="form-control narrow", id="stock-dropdown") }}
        </div>
        <div class="form-group">
            <div class="label-wrapper">
                {{ form.amount.label(class="form-control-label") }}
            </div>
            {{ form.amount(class="form-control narrow") }}
        </div>
        <div class="form-group">
            <div class="label-wrapper">
                {{ form.action.label(class="form-control-label") }}
            </div>        
            <div>
                {% for subfield in form.action %}
                    <div class="form-check form-check-inline">
                        {{ subfield(class="form-check-input") }}
                        {{ subfield.label(class="form-check-label") }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="middle-section">
    <h2>Stocks in portfolio</h2>
    <div id="current-stocks">
        <!-- Dynamic content will be inserted here -->
    </div>
</div>

<div class="right-section">
    <h2>Stock data</h2>
    <p id="current_stock"></p>
    <div id="plot"></div>
</div>

<script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var selectedPortfolioInput = document.getElementById('selected-portfolio');
        var portfolioDropdown = document.getElementById('portfolio-dropdown');
        var stockDropdown = document.getElementById('stock-dropdown');
        var currentStockElement = document.getElementById('current_stock');
        var plotContainer = document.getElementById('plot');
        
        // Set the default value to "Select" if no other value is selected
        if (!portfolioDropdown.value) {
            portfolioDropdown.value = '';
        }

        function updateCurrentStock(selectedStockId) {
            // Make AJAX request to fetch selected stock's name
            var stockXhr = new XMLHttpRequest();
            stockXhr.open('GET', '/get_selected_stock_name/' + selectedStockId, true);
            stockXhr.onreadystatechange = function () {
                if (stockXhr.readyState == 4 && stockXhr.status == 200) {
                    var responseData = JSON.parse(stockXhr.responseText);
                    var stockName = responseData.stock_name;
                    currentStockElement.textContent = stockName;
                }
            };
            stockXhr.send();
        }
        
        function updatePlot(selectedStockId, timeframe) {
            // Make AJAX request to fetch stock price data
            var pricesXhr = new XMLHttpRequest();
            pricesXhr.open('GET', '/get_stock_prices/' + selectedStockId, true);
            pricesXhr.onreadystatechange = function () {
                if (pricesXhr.readyState == 4 && pricesXhr.status == 200) {
                    var pricesData = JSON.parse(pricesXhr.responseText);

                    var dates = pricesData.map(function (entry) {
                        return entry.date;
                    });

                    var prices = pricesData.map(function (entry) {
                        return entry.price;
                    });

                    // Plot the data using Plotly
                    var data = [{
                        x: dates,
                        y: prices,
                        type: 'scatter',
                        mode: 'line', 
                        name: 'Price'
                    }];
                    var layout = {
                        xaxis: {
                            type: 'date',
                            range: [new Date(Math.min(...dates)), new Date()]
                        },
                        yaxis: {
                            title: 'Price'
                        },
                        margin: {
                    l: 50, // left margin
                    r: 50, // right margin
                    t: 50, // top margin
                    b: 50, // bottom margin
                    pad: 4 // padding
                        }
                    };
                    Plotly.newPlot(plotContainer, data, layout);

                    // Toggle plot border based on plot data availability
                    plotContainer.classList.toggle('plot-border', dates.length > 0 && prices.length > 0);
                }
            };
            pricesXhr.send();
        }

        function handlePortfolioChange() {
            var selectedPortfolioId = portfolioDropdown.value;
            selectedPortfolioInput.value = selectedPortfolioId;
            
            // Make AJAX request to fetch updated data
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/get_portfolio_data/' + selectedPortfolioId, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById('current-stocks').innerHTML = xhr.responseText;
                    var selectedStockId = stockDropdown.value;
                    updateCurrentStock(selectedStockId);
                    updatePlot(selectedStockId);
                }
            };
            xhr.send();
        }

        function handleStockChange() {
            var selectedStockId = stockDropdown.value;
            updateCurrentStock(selectedStockId);
            updatePlot(selectedStockId);
        }

        // Event listeners
        portfolioDropdown.addEventListener('change', handlePortfolioChange);
        stockDropdown.addEventListener('change', handleStockChange);
        
        // Trigger change event to load initial data
        portfolioDropdown.dispatchEvent(new Event('change'));
    });
</script>
{% endblock %}
