{% extends "base.html" %}
<!-- Start page; inherits from base.html -->
{% block content %}
<!-- Actual content of this page comes here: -->
<p>Plaeholding text</p>
{% endblock %}

<!--
    {% for post in posts %}
        <table>
                <tr valign="top">
                <td><img src="{{ post.author.avatar(36) }}"></td>
                <td><a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a> says:<br>{{ post.body }}</td>
                </tr>
        </table>
    {% endfor %}

-->


<!--

        {% for post in posts %}
        <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
        {% endfor %}
-->