{% extends "base.html" %}

{% block content %}
    <div class="left-section">
        <h2>Add Portfolio</h2>
        <form id="portfolio-form" action="{{ url_for('add_new_portfolio') }}" method="post">
            <label>Enter portfolio name:</label>
            <input type="text" id="portfolio-name" name="portfolio_name"><br>
            <button class="button-29" role="button" formaction="{{ url_for('add_new_portfolio')}}" type="submit" id="submit">Submit</button>
        </form>

        <h2> Add stock </h2>
        <form action="{{ url_for('modify_scraper_input')}}" method="post">
            <label >New stock abbreviation:</label>
            <input type="text" id="stock_abbrev" name="stock_abbrev">
            <button class="button-29" type="submit">Submit</button>
        </form>
    </div>

    <div class="right-section">
        <h2>Remove Portfolio</h2>
        {% for portfolio in portfolios %}
            <div> <b>{{portfolio.name}} </b>  (id: {{portfolio.id}})</div>
            <form action="{{ url_for('update_portfolio_name', portfolio_id=portfolio.id) }}" method="post">
                <label for="portfolio_name_{{ portfolio.id }}">Portfolio Name:</label>
                <input type="text" id="portfolio_name_{{ portfolio.id }}" name="portfolio_name" value="{{ portfolio.name }}">
                <button class="button-29" type="submit">Update</button>
            </form>
            <form action="{{ url_for('delete_portfolio', portfolio_id=portfolio.id) }}" method="post">
                <button class="button-29" role="button" formaction="{{ url_for('delete_portfolio', portfolio_id=portfolio.id) }}" type="submit">Delete</button>
            </form>
            <br>
        {% endfor %}
    </div>


    <script>
        // placeholder
    </script>
{% endblock %}
