{% extends "base.html" %}

{% block content %}
<div class="left-section">
    <h2>Add Portfolio</h2>
    <form id="portfolio-form">
        <input type="hidden" id="selected-portfolio" name="selected_portfolio_id" value="">
        <div class="form-group">
            <div class="label-wrapper">
                <label for="portfolios" class="form-control-label">Portfolios:</label>
            </div>
            <select name="portfolio-dropdown" id="portfolio-dropdown" class="form-control narrow" required>
                <option value="">Select</option>
                {% for portfolio in portfolio_choices %}
                    <option value="{{ portfolio.id }}">{{ portfolio.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <div class="label-wrapper">
                <label for="stocks" class="form-control-label">Stocks:</label>
            </div>
            <select name="stock-dropdown" id="stock-dropdown" class="form-control narrow" required>
                <option value="">Select</option>
                {% for stock in stock_choices %}
                    <option value="{{ stock.id }}">{{ stock.full_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <div class="label-wrapper">
                <label for="amount-input" class="form-control-label">Amount:</label>
            </div>
            <input type="number" id="amount-input" name="amount-input" class="form-control narrow" required>
        </div>
        <div class="form-group">
            <div class="label-wrapper">
                <label class="form-control-label">Action:</label>
            </div>        
            <div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="buy" name="buysell" value="buy" class="form-check-input" required>
                    <label for="buy" class="form-check-label"> Buy</label> 
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="sell" name="buysell" value="sell" class="form-check-input" required>
                    <label for="sell" class="form-check-label"> Sell</label>
                </div>
            </div>
        </div>
        <button type="button" id="submitBtn" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="middle-section">
    <h2>Stocks in portfolio</h2>
    <div id="current-stocks">
        <!-- Dynamic content will be inserted here -->
    </div>
</div>

<div class="right-section">
    <h2>Stock data</h2>
    <p id="current_stock"></p>
    <div id="plot"></div>
</div>

<script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var selectedPortfolioInput = document.getElementById('selected-portfolio');
        var portfolioDropdown = document.getElementById('portfolio-dropdown');
        var stockDropdown = document.getElementById('stock-dropdown');
        var currentStockElement = document.getElementById('current_stock');
        var plotContainer = document.getElementById('plot');
        
        function updateCurrentStock(selectedStockId) {
            // Make AJAX request to fetch selected stock's name
            var stockXhr = new XMLHttpRequest();
            stockXhr.open('GET', '/get_selected_stock_name/' + selectedStockId, true);
            stockXhr.onreadystatechange = function () {
                if (stockXhr.readyState == 4 && stockXhr.status == 200) {
                    var responseData = JSON.parse(stockXhr.responseText);
                    var stockName = responseData.stock_name;
                    currentStockElement.innerHTML = stockName;
                }
            };
            stockXhr.send();
        }
        
        function updatePlot(selectedStockId) {
            // Make AJAX request to fetch stock price data
            var pricesXhr = new XMLHttpRequest();
            pricesXhr.open('GET', '/get_stock_prices/' + selectedStockId, true);
            pricesXhr.onreadystatechange = function () {
                if (pricesXhr.readyState == 4 && pricesXhr.status == 200) {
                    var pricesData = JSON.parse(pricesXhr.responseText);
                    var dates = pricesData.map(function (entry) {
                        return entry.date;
                    });
                    var prices = pricesData.map(function (entry) {
                        return entry.price;
                    });
                    var data = [{
                        x: dates,
                        y: prices,
                        type: 'scatter',
                        mode: 'line',
                        name: 'Price'
                    }];
                    var layout = {
                        xaxis: {
                            type: 'date'
                        },
                        yaxis: {
                            title: 'Price'
                        }
                    };
                    Plotly.newPlot(plotContainer, data, layout);
                }
            };
            pricesXhr.send();
        }
        
        portfolioDropdown.addEventListener('change', function () {
            var selectedPortfolioId = this.value;
            selectedPortfolioInput.value = selectedPortfolioId;
            
            // Make AJAX request to fetch updated data
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/get_portfolio_data/' + selectedPortfolioId, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById('current-stocks').innerHTML = xhr.responseText;
                    var selectedStockId = stockDropdown.value;
                    updateCurrentStock(selectedStockId);
                    updatePlot(selectedStockId);
                }
            };
            xhr.send();
        });
        
        stockDropdown.addEventListener('change', function () {
            var selectedStockId = this.value;
            updateCurrentStock(selectedStockId);
            updatePlot(selectedStockId);
        });
        
        document.getElementById("submitBtn").addEventListener("click", function() {
            var formData = new FormData(document.getElementById("portfolio-form"));
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/process_form", true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        // Reload the updated portfolio content
                        var selectedPortfolioId = portfolioDropdown.value;
                        var portfolioXhr = new XMLHttpRequest();
                        portfolioXhr.open('GET', '/get_portfolio_data/' + selectedPortfolioId, true);
                        portfolioXhr.onreadystatechange = function () {
                            if (portfolioXhr.readyState == 4 && portfolioXhr.status == 200) {
                                document.getElementById('current-stocks').innerHTML = portfolioXhr.responseText;
                            }
                        };
                        portfolioXhr.send();
                    } else {
                        console.error('Error:', xhr.status);
                    }
                }
            };
            xhr.send(formData);
        });
        
        // Trigger change event to load initial data
        portfolioDropdown.dispatchEvent(new Event('change'));
    });
</script>
{% endblock %}
